<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Dashboard</title>

  <!-- build:less lib/bootstrap/css/bootstrap.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- endbuild -->
  <!-- build:css lib/nvd3/nv.d3.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/nvd3/nv.d3.css"/>
  <!-- endbuild --> 
  <!-- build:css lib/font-awesome/css/font-awesome.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
  <!-- endbuild -->

  <!-- build:less css/dashboard/dashboard.css -->
  <link rel="stylesheet" type="text/css" href="less/dashboard/variables.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/mixins.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/main.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/loading.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/content.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/header.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/sidebar.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/widgets.less">
  <link rel="stylesheet" type="text/css" href="less/dashboard/hamburg.less">
  <!-- endbuild -->

  <!-- SCRIPTS -->
  <!-- build:js lib/angular/angular.js -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/d3/d3.js -->
  <script type="text/javascript" src="bower_components/d3/d3.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/nvd3/nv.d3.js -->
  <script type="text/javascript" src="bower_components/nvd3/nv.d3.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angularjs-nvd3-directives/angularjs-nvd3-directives.js -->
  <script type="text/javascript" src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular-cookies/angular-cookies.js -->
  <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular-bootstrap/ui-bootstrap.js -->
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular-bootstrap/ui-bootstrap-tpls.js -->
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular-ui-router/angular-ui-router.js -->
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <!-- endbuild -->
  <!-- build:js lib/angular-resource/angular-resource.js -->
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <!-- endbuild -->
  <!-- build:js js/dashboard.js -->
  <script type="text/javascript" src="js/dashboard/module.js"></script>
  <script type="text/javascript" src="js/dashboard/routes.js"></script>
  <script type="text/javascript" src="js/dashboard/controllers/master-ctrl.js"></script>
  <script type="text/javascript" src="js/dashboard/controllers/alerts-ctrl.js"></script>
  <script type="text/javascript" src="js/dashboard/directives/loading.js"></script>
  <!--<script type="text/javascript" src="js/dashboard/controllers/charts.js"></script>-->
  <!-- endbuild -->
  <!-- SCRIPTS -->

</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#" ng-click="toggleSidebar()">
            Perceptive Reach
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#">Home <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/scores">Risk Score <span class="menu-icon fa fa-cogs"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Monitors <span class="menu-icon fa fa-tasks"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Branch Data <span class="menu-icon fa fa-crosshairs"></span></a>
        </li>
        <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
        <li class="sidebar-list">
          <a href="#" target="_blank">Forums <span class="menu-icon fa fa-external-link"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="#" target="_blank">
            Home
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Joe Bloggs
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown">
               <a href="#" class="dropdown-toggle">
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
        <section data-ui-view></section>
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->

  <script type="text/ng-template" id="dashboard.html">
    <!--<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
      <div class="col-xs-12">
        <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </div>-->

    <div class="row" ng-controller="AlertsCtrl">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
          <div class="widget-body">
            <div class="widget-icon green pull-left">
              <i class="fa fa-fighter-jet"></i>
            </div>
            <div class="widget-content pull-left">
              <div class="title">{{branchData[0].y}}</div>
              <div class="comment">AirForce</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
          <div class="widget-body">
            <div class="widget-icon red pull-left">
              <i class="fa fa-star"></i>
            </div>
            <div class="widget-content pull-left">
              <div class="title">{{branchData[1].y}}</div>
              <div class="comment">Army</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
          <div class="widget-body">
            <div class="widget-icon orange pull-left">
              <i class="fa fa-bolt"></i>
            </div>
            <div class="widget-content pull-left">
              <div class="title">{{branchData[2].y}}</div>
              <div class="comment">Marine Corps</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="spacer visible-xs"></div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
          <div class="widget-body">
            <div class="widget-icon blue pull-left">
              <i class="fa fa-sheid"></i>
            </div>
            <div class="widget-content pull-left">
              <div class="title">{{branchData[3].y}}</div>
              <div class="comment">Navy</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-cog fa-spin"></i>  Breakdown of Scores
          </div>
          <div class="widget-body">
            <!-- Check out the Angular Directive inside bootstrap.js! -->
            <!--<rd-loading></rd-loading> -->
            <div ng-controller="ScoreChartCtrl">
              <nvd3-pie-chart
                data="scoreChart"
                id="scoreChart2"
                width="550"
                height="350"
                x="xFunction()"
                y="yFunction()"
                showLabels="true">
                <svg height="250"></svg>
              </nvd3-pie-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-cog fa-spin"></i> Suicide: Attempts vs Completions by Score
          </div>
          <div class="widget-body">
            <!-- Check out the Angular Directive inside bootstrap.js! -->
            <!--<rd-loading></rd-loading> -->
            <div ng-controller="AttemptsCtrl">
              <nvd3-discrete-bar-chart
                  data="attemptsData"
                  id="toolTipExample"
                  showXAxis="true"
                  showYAxis="true"
                  width="550"
                  height="350"
                  xAxisTickFormat="xAxisTickFormatFunction()"
                  showValues="true"
                  tooltips="true"
                  tooltipcontent="toolTipContentFunction()">
                    <svg></svg>
              </nvd3-discrete-bar-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Content -->
  </script>

  <script type="text/ng-template" id="scores.html">
    <div class="row">
      <div class="col-lg-6">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-cog fa-spin"></i>  Breakdown of Scores
          </div>
          <div class="widget-body">
            <!-- Check out the Angular Directive inside bootstrap.js! -->
            <!--<rd-loading></rd-loading> -->
            <div ng-controller="ScoreChartCtrl">
              <nvd3-pie-chart
                data="scoreChart"
                id="scoreChart2"
                width="550"
                height="350"
                x="xFunction()"
                y="yFunction()"
                showLabels="true">
                <svg height="250"></svg>
              </nvd3-pie-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-cog fa-spin"></i> Suicide: Attempts vs Actuals by Score
          </div>
          <div class="widget-body">
            <!-- Check out the Angular Directive inside bootstrap.js! -->
            <!--<rd-loading></rd-loading> -->
            <div ng-controller="AttemptsCtrl">
              <nvd3-discrete-bar-chart
                  data="attemptsData"
                  id="toolTipExample"
                  showXAxis="true"
                  showYAxis="true"
                  width="550"
                  height="350"
                  xAxisTickFormat="xAxisTickFormatFunction()"
                  showValues="true"
                  tooltips="true"
                  tooltipcontent="toolTipContentFunction()">
                    <svg></svg>
              </nvd3-discrete-bar-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

  </script>
</body>
</html>
