<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title tabindex="-1">Perceptive Reach | Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/" tabindex="-1">
   <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
      <link rel="stylesheet" href="bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css" />
      <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
      <link rel="stylesheet" href="bower_components/pines-notify/pnotify.core.css" />
      <link rel="stylesheet" href="bower_components/pines-notify/pnotify.buttons.css" />
      <link rel="stylesheet" href="bower_components/pines-notify/pnotify.history.css" />
      <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
      <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.css" />
      <link rel="stylesheet" href="bower_components/datatables.net-buttons-dt/css/buttons.dataTables.css" />
      <link rel="stylesheet" href="bower_components/datatables.net-scroller-dt/css/scroller.dataTables.css" />
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
      <!-- endbower -->
      <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css" />
      <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css"/>
    <!-- endbuild -->
    <!--<link href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />-->
    <!-- build:css(.) styles/stylesheet.min.css -->
      <!-- injector:css -->
      <link rel="stylesheet" href="app/loading-bar.css">
      <link rel="stylesheet" href="dist/angular-ui-dashboard.css">
      <!-- endinjector -->
    <!-- endbuild -->
    <link rel="stylesheet" href="nvd3_local/nv.d3.css" />
     <link rel="stylesheet" href="app/app.css">
</head>
<body ng-app="app">
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavBarCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <p class="navbar-text" tabIndex="-1" title="Perceptive Reach">Perceptive Reach</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <div id="navHeader" style="display: none;">
        <!--ul class="nav navbar-nav">
          <li ng-repeat="(when, route) in $route.routes" ng-class="{ 'active': $route.current.$$route === route}"><a ng-href="{{'#' + route.originalPath}}">{{ route.title }}</a></li>
        </ul-->
        <div style="float: right; color: #fff; background-color: transparent; cursor: default; padding-top: 10px;"> 
          <span tabIndex="-1">{{$root.globals.userObj.UserName }}</span>
          <button ng-click="Logout()" alt="Logout" title="Logout" class="btn btn-success" tabindex="1">Logout</button>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--div id="dashboardDescription" ng-controller="NavBarCtrl" style="display: none;">
  <div ng-if="$route.current.$$route.description" class="alert alert-success" role="alert" btf-markdown="'**Description:** ' + $route.current.$$route.description"></div>
</div-->

<div ng-view=""></div>

<!-- build:js(.)  scripts/script.min.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/jquery.js"></script>
      <script src="bower_components/jquery-ui/jquery-ui.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
      <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/angular-ui-sortable/sortable.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/malhar-angular-table/dist/mlhr-table.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/d3/d3.js"></script>
      <script src="bower_components/nvd3/nv.d3.js"></script>
      <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
      <script src="bower_components/visibilityjs/lib/visibility.core.js"></script>
      <script src="bower_components/visibilityjs/lib/visibility.timers.js"></script>
      <script src="bower_components/pines-notify/pnotify.core.js"></script>
      <script src="bower_components/pines-notify/pnotify.buttons.js"></script>
      <script src="bower_components/pines-notify/pnotify.callbacks.js"></script>
      <script src="bower_components/pines-notify/pnotify.confirm.js"></script>
      <script src="bower_components/pines-notify/pnotify.desktop.js"></script>
      <script src="bower_components/pines-notify/pnotify.history.js"></script>
      <script src="bower_components/pines-notify/pnotify.nonblock.js"></script>
      <script src="bower_components/angular-pines-notify/src/pnotify.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/ng-idle/angular-idle.js"></script>
      <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
      <script src="bower_components/es6-promise/promise.js"></script>
      <script src="bower_components/matchmedia/matchMedia.js"></script>
      <script src="bower_components/javascript-detect-element-resize/detect-element-resize.js"></script>
      <script src="bower_components/angular-gridster/src/angular-gridster.js"></script>
      <script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
      <script src="bower_components/datatables.net-buttons/js/dataTables.buttons.js"></script>
      <script src="bower_components/datatables.net-buttons/js/buttons.colVis.js"></script>
      <script src="bower_components/datatables.net-buttons/js/buttons.flash.js"></script>
      <script src="bower_components/datatables.net-buttons/js/buttons.html5.js"></script>
      <script src="bower_components/datatables.net-buttons/js/buttons.print.js"></script>
      <script src="bower_components/datatables.net-scroller/js/dataTables.scroller.js"></script>
      <script src="bower_components/blob-polyfill/Blob.js"></script>
      <script src="bower_components/file-saver.js/FileSaver.js"></script>
      <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
      <script src="bower_components/angular-mocks/angular-mocks.js"></script>
      <script src="bower_components/showdown/src/showdown.js"></script>
      <script src="bower_components/angular-markdown-directive/markdown.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <!-- endbower -->
      <script src="nvd3_local/nv.d3.js"></script>
      <script src="nvd3_local/angularjs-nvd3-directives.js"></script>
      <script src="bower_components/ngSticky/lib/sticky.js"></script>
      <script src="bower_components/spin.js/spin.js"></script>
      <script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
      <script src="bower_components/forge/js/util.js"></script>
      <script src="bower_components/forge/js/cipher.js"></script>
      <script src="bower_components/forge/js/cipherModes.js"></script>
      <script src="bower_components/forge/js/aes.js"></script>
      <script src="bower_components/forge/js/forge.js"></script>   
      <script src="bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
      <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>  
      
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/account/account.js"></script>
      <script src="app/account/login/login.controller.js"></script>
      <script src="app/controllers/dash.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/main/main.js"></script>
      <script src="components/auth/auth.service.js"></script>
      <script src="components/auth/user.service.js"></script>
      <script src="components/dashboard/dashboard.service.js"></script>
      <script src="components/idle/idle.service.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <script src="components/util/util.js"></script>
      <script src="dist/angular-ui-dashboard.js"></script>
      <script src="dist/perceptive-reach-widgets.js"></script>
      <!-- endinjector -->

      <script src="bower_components/socket.io-client/socket.io.js"></script>

      <!--<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>-->
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
          google.load('visualization', '1', {'packages':['corechart']});
      </script>
<!-- endbuild -->

</body>
</html>
