<div>
	<div class='dc-data-count pull-right' style="margin-top:-35px">
		<span class='filter-count' style="font-size: xx-large"></span>
		total patients in view</span> |
		<a class="btn btn-primary btn-sm" id="reset" href="#" ng-click="resetAll()"  style="margin-top:-10px">Reset All</a>
	</div>  
	<div gridster="gridsterOpt" style="margin-top:35px;" class="dashboard-widget-area" tabindex="-1">
		<ul>
			<li gridster-item size-x="15" size-y="8" class="gridsterContainer" >
				<div class="container-fluid" style="height:100%;">
					<div class="row" style="height:100%;">
						<strong style="padding:5px;">Total Patients At-Risk by States</strong>
						<div style="font-size: 1em;display: none" class="LoadingDiv">
							<span class="glyphicon glyphicon-refresh glyphicon-spin"></span> <label>Loading Visualization...</label>
						</div> 
						<div id="us-chart" style="width:100%;height:100%;">
							<a class="reset"   href="#" ng-click="resetChart('usChart')"  style="display: none;">reset</a>
							<span class="reset" style="display: none;"> | Current filter: <span class="filter"></span></span>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</li>
			<li gridster-item size-x="15" size-y="4" class="gridsterContainer" >
				<strong style="padding:5px;">Total Patients per VISN</strong>
				<div style="font-size: 1em;display: none" class="LoadingDiv">
					<span class="glyphicon glyphicon-refresh glyphicon-spin"></span> <label>Loading Visualization...</label>
				</div> 
				<div id="visnBar-chart" class="dc-chart" style="width:100%;height:100%;">
					<span class="reset" style="display: none;">range: <span class="filter"></span></span>
					<a class="reset"   href="#" ng-click="resetChart('maritalChart')"  style="display: none;">reset</a>
					<div class="clearfix"></div>
				</div>
			</li>
			<li gridster-item size-x="7" size-y="4" class="gridsterContainer" >
				<strong style="padding:5px;">Marital Status</strong>
				<div style="font-size: 1em;display: none" class="LoadingDiv">
					<span class="glyphicon glyphicon-refresh glyphicon-spin"></span> <label>Loading Visualization...</label>
				</div> 
				<div id="marital-chart" class="dc-chart" style="width:100%;height:100%;">
					<span class="reset" style="display: none;">range: <span class="filter"></span></span>
					<a class="reset"   href="#" ng-click="resetChart('visnBarChart')"  style="display: none;">reset</a>
					<div class="clearfix"></div>
				</div>
			</li>
			<li gridster-item size-x="4" size-y="4" class="gridsterContainer" >
				<strong>Gender Chart</strong>
				<div style="font-size: 1em;display: none" class="LoadingDiv">
					<span class="glyphicon glyphicon-refresh glyphicon-spin"></span> <label>Loading Visualization...</label>
				</div> 
				<div id="gender-chart" class="dc-chart" style="width:100%;height:100%;">
					<a class="reset"   href="#" ng-click="resetChart('genderChart')"  style="display: none;">reset</a>
					<div class="clearfix"></div>
				</div>
			</li>
			<li gridster-item size-x="4" size-y="4" class="gridsterContainer" >
				<strong>Risk Chart</strong>
				<div style="font-size: 1em;display: none" class="LoadingDiv">
					<span class="glyphicon glyphicon-refresh glyphicon-spin"></span> <label>Loading Visualization...</label>
				</div> 
				<div id="risk-chart" class="dc-chart" style="width:100%;height:100%;">
					<a class="reset"   href="#" ng-click="resetChart('riskChart')"  style="display: none;">reset</a>
					<div class="clearfix"></div>
				</div>
			</li>
			<li gridster-item size-x="15" size-y="7" class="gridsterContainer" >
				<strong>Military Branch</strong>
				<div style="font-size: 1em;display: none" class="LoadingDiv">
					<span class="glyphicon glyphicon-refresh glyphicon-spin"></span> <label>Loading Visualization...</label>
				</div> 
				<div id="military-chart" class="dc-chart" style="width:100%;height:100%;">
					<a class="reset"   href="#" ng-click="resetChart('militaryChart')"  style="display: none;">reset</a>
					<div class="clearfix"></div>
				</div>
			</li>
			<li gridster-item size-x="15" size-y="7" class="gridsterContainer" >
				<strong>Total Patients vs Total Risk in VAMC</strong>
				<div style="font-size: 1em;display: none" class="LoadingDiv">
					<span class="glyphicon glyphicon-refresh glyphicon-spin"></span> <label>Loading Visualization...</label>
				</div> 
				<div id="vamc-bubble-chart" class="dc-chart" style="width:100%;height:100%;">
					<a class="reset"   href="#" ng-click="resetChart('vamcBubbleChart')"  style="display: none;">reset</a>
					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
	</div>
</div>

