<div>
    <div ng-form="enterWdgtForm">
      <div class="panel panel-default" style="width: 98%">
        <div class="panel-body" style="padding-left:40px">
          <div class="row">
            <div class="col-md-12 bs-example hr-text" style="padding: 10px; border-radius: 25px; border: 0.5px solid;">
              <div class="panel-body">
                <div class="col-md-6">
                  <label style="font-weight:normal">User Notes:</label>
                  <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Buttons">
                    <button type="button" name="hrBack" class="btn btn-default pull-left" ng-disabled="hrIndex >= data.HighRisk_UserNotes.length-1" ng-click="goBack()"><i class="glyphicon glyphicon-arrow-left" 
                      style="font-size:13px;width: 18px;"></i>
                    </button>
                    <div class="pull-left">
                      <input type="text" min="0" ng-change="hrIndexChange(hrIndex)" style="width:40px; height:22px;" ng-model="hrIndex" ></input>
                    </div>
                    <button type="button" name="hrFwd" class="btn btn-default pull-left" ng-disabled="hrIndex === 0" ng-click="goForward()"><i class="glyphicon glyphicon-arrow-right" 
                      style="font-size:13px;width: 18px;"></i>
                    </button>
                  </div><br/>
                  <textarea class="col-md-12" rows="3" style="font-weight:normal" type="text" ng-required="true" ng-model="hrText" name="highRiskTxt" ng-class="{hrDirty: enterWdgtForm.highRiskTxt.$dirty && enterWdgtForm.highRiskTxt.$valid}" id="hrText"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2 col-xs-offset-10">
              <button type="button" class="btn btn-default btn-sm" ng-click="addNewData()">Add Data</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
