<div>
    <div ng-form="enterWdgtForm">
      <div class="panel panel-default">
        <div class="panel-body" style="padding-left:40px">
          <div class="row">
            <div class="col-md-12 bs-example hr-text" style="padding: 2px;">
              <div class="panel-body" style="padding:5px;">
                <div class="col-md-6">
                  <label style="font-weight:normal">User Notes:</label>
                  <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Buttons">
                    <button type="button" name="hrBack" class="btn btn-default pull-left" ng-disabled="hrIndex >= data.HighRisk_UserNotes.length-1" ng-click="goHrBack()"><i class="glyphicon glyphicon-arrow-left" style="font-size:13px;width: 18px;"></i>
                    </button>
                    <div class="pull-left">
                      <input type="text" ng-keypress="jumpTo($event,'hr')" class="enterDataNumInput" ng-model="hrIndex" ></input>
                    </div>
                    <button type="button" name="hrFwd" class="btn btn-default pull-left" ng-disabled="hrIndex === 0" ng-click="goHrForward()"><i class="glyphicon glyphicon-arrow-right" 
                      style="font-size:13px;width: 18px;"></i>
                    </button>
                  </div><br/>
                  <textarea class="col-md-12 enterDataBox" rows="4" style="font-weight:normal;" type="text" ng-required="true" ng-model="hrText" name="highRiskTxt" ng-class="{enterDataDirty: enterWdgtForm.highRiskTxt.$dirty && enterWdgtForm.highRiskTxt.$valid}" id="hrText"></textarea>
                </div>
                <div class="col-md-6" >    
                  <label style="font-weight:normal">SPAN Records:</label>
                  <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Buttons">
                    <button type="button" name="hrSpanBack" class="btn btn-default pull-left" ng-disabled="hrSpanIndex >= data.HighRisk_SPANImport.length-1" ng-click="goHrSpanBack()"><i class="glyphicon glyphicon-arrow-left" style="font-size:13px;width: 18px;"></i>
                    </button>
                    <div class="pull-left">
                      <input type="text" ng-keypress="jumpTo($event,'hrspan')" class="enterDataNumInput" ng-model="hrSpanIndex" ></input>
                    </div>
                    <button type="button" name="hrSpanFwd" class="btn btn-default pull-left" ng-disabled="hrSpanIndex === 0" ng-click="goHrSpanForward()"><i class="glyphicon glyphicon-arrow-right"
                      style="font-size:13px;width: 18px;"></i>
                    </button>
                  </div>
                  <div class="col-md-12 enterDataBox" style="background-color:#e6e6e6;">
                    <label style="font-weight:normal">High Risk: {{data.HighRisk_SPANImport[hrSpanIndex].HighRisk}}</label>    
                    <label style="font-weight:normal">Date First Identified: {{data.HighRisk_SPANImport[hrSpanIndex].DateFirstIdentifiedAsHighRisk}}</label>    
                    <label style="font-weight:normal">Date Last Updated: {{data.HighRisk_SPANImport[hrSpanIndex].DateHighRiskLastUpdated}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 bs-example mh-text" style="padding: 2px;">
              <div class="panel-body" style="padding:5px;">
                <div class="col-md-6">
                  <label style="font-weight:normal">User Notes:</label>
                  <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Buttons">
                    <button type="button" name="mhBack" class="btn btn-default pull-left" ng-disabled="mhIndex >= data.PrimaryHealthProvider_UserNotes.length-1" ng-click="goMhBack()"><i class="glyphicon glyphicon-arrow-left" style="font-size:13px;width: 18px;"></i>
                    </button>
                    <div class="pull-left">
                      <input class="enterDataNumInput" type="text" ng-keypress="jumpTo($event,'mh')" ng-change="mhIndexChange(mhIndex)" ng-model="mhIndex" ></input>
                    </div>
                    <button type="button" name="mhFwd" class="btn btn-default pull-left" ng-disabled="mhIndex === 0" ng-click="goMhForward()"><i class="glyphicon glyphicon-arrow-right" 
                      style="font-size:13px;width: 18px;"></i>
                    </button>
                  </div><br/>
                  <textarea class="col-md-12 enterDataBox" rows="4" style="font-weight:normal;" type="text" ng-required="true" ng-model="mhText" name="mentalProviderTxt" ng-class="{enterDataDirty: enterWdgtForm.mentalProviderTxt.$dirty && enterWdgtForm.mentalProviderTxt.$valid}" id="mhText"></textarea>
                </div>
                <div class="col-md-6" > 
                  <label style="font-weight:normal">VistA Records:</label>
                  
                  <div class="col-md-12 enterDataBox" style="background-color:#e6e6e6;">
                   <label style="font-weight:normal">No Data Available</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 bs-example sp-text" style="padding: 2px;">
              <div class="panel-body" style="padding:5px;">
                <div class="col-md-6">
                  <label style="font-weight:normal">User Notes:</label>
                  <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Buttons">
                    <button type="button" name="spBack" class="btn btn-default pull-left" ng-disabled="spIndex >= data.SafetyPlan_UserNotes.length-1" ng-click="goSpBack()"><i class="glyphicon glyphicon-arrow-left" style="font-size:13px;width: 18px;"></i>
                    </button>
                    <div class="pull-left">
                      <input type="text" ng-keypress="jumpTo($event,'sp')" class="enterDataNumInput" ng-model="spIndex" ></input>
                    </div>
                    <button type="button" name="spFwd" class="btn btn-default pull-left" ng-disabled="spIndex === 0" ng-click="goSpForward()"><i class="glyphicon glyphicon-arrow-right" 
                      style="font-size:13px;width: 18px;"></i>
                    </button>
                  </div><br>
                  <textarea class="col-md-12 enterDataBox" rows="4" style="font-weight:normal;" type="text" ng-required="true" ng-model="spText" name="safetyPlanTxt" ng-class="{enterDataDirty: enterWdgtForm.safetyPlanTxt.$dirty && enterWdgtForm.safetyPlanTxt.$valid}" id="spText"></textarea>
                </div>
                <div class="col-md-6">
                  <label style="font-weight:normal">VistA Records:</label>
                  <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Buttons">
                    <button type="button" name="spSpanBack" class="btn btn-default pull-left" ng-disabled="spSpanIndex >= data.SafetyPlan_SPANImport.length-1" ng-click="goSpSpanBack()"><i class="glyphicon glyphicon-arrow-left" style="font-size:13px;width: 18px;"></i>
                    </button>
                    <div class="pull-left">
                      <input type="text" ng-keypress="jumpTo($event,'spspan')" class="enterDataNumInput" ng-model="spSpanIndex" ></input>
                    </div>
                    <button type="button" name="spSpanFwd" class="btn btn-default pull-left" ng-disabled="spSpanIndex === 0" ng-click="goSpSpanForward()"><i class="glyphicon glyphicon-arrow-right" style="font-size:13px;width: 18px;"></i>
                    </button>
                  </div>
                   <div class="col-md-12 enterDataBox" style="background-color:#e6e6e6;">
                    <label style="font-weight:normal">Safety Plan Current: {{data.SafetyPlan_SPANImport[spSpanIndex].SafetyPlanCurrent}}</label>    
                    <label style="font-weight:normal">Date Completed/Updated: {{data.SafetyPlan_SPANImport[spSpanIndex].DateSafetyPlanCompletedOrUpdated}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 bs-example comment-text" style="padding: 2px;">
               <div class="panel-body" style="padding:5px;">
                 <div class="col-md-12">
                   <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Buttons">
                      <button type="button" name="commentBack" class="btn btn-default pull-left" ng-disabled="commentIndex >= data.GeneralComments.length-1" ng-click="goCommentBack()"><i class="glyphicon glyphicon-arrow-left" style="font-size:13px;width: 18px;"></i>
                      </button>
                      <div class="pull-left">
                        <input type="text" ng-keypress="jumpTo($event,'comment')" class="enterDataNumInput" ng-model="commentIndex" ></input>
                      </div>
                      <button type="button" name="commentFwd" class="btn btn-default pull-left" ng-disabled="commentIndex === 0" ng-click="goCommentForward()"><i class="glyphicon glyphicon-arrow-right" style="font-size:13px;width: 18px;"></i>
                      </button>
                   </div>
                    <textarea class="col-md-12 enterDataBox" rows="4" style="font-weight:normal;" type="text" ng-required="true" ng-model="commentText" name="commentTxt" ng-class="{enterDataDirty: enterWdgtForm.commentTxt.$dirty && enterWdgtForm.commentTxt.$valid}" id="commentText"></textarea>
                 </div>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2 col-xs-offset-10">
              <button type="button" class="btn btn-default btn-sm" ng-click="addNewData()">Add Data</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
