<div class="nationalOutReachStatus" title="Tab and press enter to sort columns">
	<table id="tblNationalOutReachStatus" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
		<thead>	
			<th scope="col" tabindex="-1"><a alt="Outreach Status" title="Sort by Outreach Status" href="" ng-click="predicate = 'Outreach Status'; reverse=false">Outreach Status</a></th>
			<th scope="col" tabindex="-1"><a alt="Risk Level Group" title="Sort by Risk Level Group" href="" ng-click="predicate = 'Risk Level Group'; reverse=false">Risk Level Group</a></th>
			<th scope="col" tabindex="-1"><a alt="Total Number of Patients" title="Sort by Total Number of Patients" href="" ng-click="predicate = 'Total Number of Patients'; reverse=false">Total Number of Patients</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="ind in data track by $index | orderBy:predicate:reverse">
				<td>{{ind.Status}}</td>
				<td>{{ind.RiskLevelDesc}}</td>
				<td>{{ind.Total}}</td>
			</tr>
		</tbody>
	</table>
</div>