<div id="cdsQuestionnaire" title="CDS Questionnaire">
   <!-- Nav Pills -->
        <ul class="nav nav-pills" role="tablist" id="cdsTabs">
          <li class="active">
              <a href="#home" role="tab" data-toggle="tab">
                   Home
              </a>
          </li>
          <li><a href="#options" role="tab" data-toggle="tab">
                  Options
              </a>
          </li>
          <li>
              <a href="#help" role="tab" data-toggle="tab">
                   Help
              </a>
          </li>
        </ul>
        <!-- Pill panes -->
        <div class="tab-content" id="cdsTabContent" style="margin-top:5px;">
          <div class="tab-pane fade active in" id="home">
            <div id="cdsConditionDiv">
                <div >
                   <legend>Clinical Decision Support:</legend>
                      <fieldset style="border:1px solid lightgray;border-radius:5px;">
                        Please choose the specific symptoms, diagnoses, or conditions the Veteran is facing.  After all selections have been made please press <strong>‘Next’</strong>.
                      </fieldset>
                      <div style="margin:10px;padding:5px;overflow-y:scroll;" class="conditionsList">
                        <label ng-repeat="condition in data.conditions" style="display:block;">
                              <input type="checkbox" id="chkbx{{condition.Condition_ID}}" name="chkbx_{{condition.Condition_ID}}"> {{condition.Condition}}
                        </label>
                      </div>
                      <div style="height:40px;padding:5px;">
                         <button ng-click="GotoQuestions()" alt="Next(Questions)" title="Next(Questions)" class="btn btn-primary pull-right" tabindex="1">Next</button>
                      </div>
                </div>
            </div>

            <div id="cdsQuestionDiv" class="hidden">
               <legend>Question(s):</legend>
               <div ng-repeat="question in filteredQuestions">
                  <label>{{$index+1}}. {{question.Question}}  </label>
                   <div class="dropdown" id="dropdownMenu2">
                          <button class="btn btn-default"
                                  data-toggle="dropdown">
                              <span id="dropdown_title2">Select</span>
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" >
                              <li><a tabindex="-1" href="#">Yes</a></li>
                              <li><a tabindex="-1" href="#">No</a></li>
                              <li><a tabindex="-1" href="#">N/A</a></li>
                          </ul>
                    </div>
               </div>
               <div style="height:40px;padding:5px;">
                  <button ng-click="BacktoConditions()" alt="Back(Conditions)" title="Back(Conditions)" class="btn btn-primary pull-left" tabindex="1">Back</button>
                  <button ng-click="GotoTreatments()" alt="Next(Treatment)" title="Next(Treatment)" class="btn btn-primary pull-right" tabindex="1">Next</button>
               </div>
            </div>

            <div id="cdsTreatmentDiv" class="hidden">
                <legend>Treatment(s):</legend>
                <div ng-repeat="treatment in filteredTreatments">
                  <label>{{$index+1}}. {{treatment.Treatment}}</label>
                </div>
              <div style="height:40px;padding:5px;">
                <button ng-click="BacktoQuestions()" alt="Back(Questions)" title="Back(Questions)" class="btn btn-primary pull-left" tabindex="1">Back</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="options">
              <h2>Options</h2>
              <img src="https://avatars1.githubusercontent.com/u/1252476?v=3&s=200" alt="Cats"/>
          </div>
          <div class="tab-pane fade" id="help">
              <h2>Help</h2>
              <img src="https://avatars1.githubusercontent.com/u/1252476?v=3&s=200" alt="Cats"/>
          </div>
        
        </div>
        <div>
          <div class="panel panel-default" style="margin-top:5px;">
            <div class="panel-heading">
              <h3 class="panel-title">Emergency Contact Information</h3>
            </div>
            <div class="panel-body">
              For emergency assistance please contact: P: (xxx) xxx-xxxx, e: email@email.com
            </div>
          </div>
        </div>
        
</div>
