USE [master]
GO
/****** Object:  Database [Reach]    Script Date: 12/15/2014 6:33:12 PM ******/
CREATE DATABASE [Reach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Reach', FILENAME = N'D:\MSSQL11.MSSQLSERVER\MSSQL\DATA\Reach.mdf' , SIZE = 19456KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Reach_log', FILENAME = N'D:\MSSQL11.MSSQLSERVER\MSSQL\DATA\Reach_log.ldf' , SIZE = 291904KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Reach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Reach]
GO
/****** Object:  Table [dbo].[Ref_Region]    Script Date: 12/15/2014 6:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ref_Region](
	[RegionID] [int] NOT NULL,
	[RegionName] [varchar](50) NULL,
 CONSTRAINT [PK_RegionID] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ref_State]    Script Date: 12/15/2014 6:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ref_State](
	[StateAbbr] [char](2) NOT NULL,
	[StateName] [varchar](50) NULL,
	[RegionID] [int] NULL,
 CONSTRAINT [PK_StateAbbr] PRIMARY KEY CLUSTERED 
(
	[StateAbbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ref_VAMC]    Script Date: 12/15/2014 6:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ref_VAMC](
	[VAMCID] [int] NOT NULL,
	[VISN] [int] NULL,
	[STA3N] [varchar](5) NULL,
	[STA6AID] [varchar](5) NULL,
	[VAMC] [varchar](100) NULL,
	[StateAbbr] [char](2) NULL,
 CONSTRAINT [PK_VAMCID] PRIMARY KEY CLUSTERED 
(
	[VAMCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ref_VISN]    Script Date: 12/15/2014 6:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ref_VISN](
	[VISN] [int] NOT NULL,
	[NetworkName] [varchar](100) NULL,
	[RegionServed] [varchar](500) NULL,
	[RegionID] [int] NULL,
 CONSTRAINT [PK_VISN] PRIMARY KEY CLUSTERED 
(
	[VISN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VeteranRisk]    Script Date: 12/15/2014 6:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VeteranRisk](
	[ReachID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[SSN] [varchar](9) NULL,
	[Phone] [varchar](10) NULL,
	[AltPhone] [varchar](10) NULL,
	[Address] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](2) NULL,
	[Zip] [varchar](5) NULL,
	[DateIdentifiedRisk] [datetime] NULL,
	[EmergencyContact] [varchar](100) NULL,
	[Relationship] [varchar](20) NULL,
	[EC_Phone] [varchar](10) NULL,
	[EC_AltPhone] [varchar](10) NULL,
	[EC_Address] [varchar](100) NULL,
	[EC_City] [varchar](50) NULL,
	[EC_State] [varchar](2) NULL,
	[EC_Zip] [varchar](5) NULL,
	[UrbanArea] [bit] NULL,
	[Age] [int] NULL,
	[Gender] [char](1) NULL,
	[Race] [varchar](20) NULL,
	[CriminalRecord] [bit] NULL,
	[HistSubstanceAbuse] [bit] NULL,
	[PreviousPsychiatricHospitalization] [bit] NULL,
	[PreviousSuicideAttempts] [bit] NULL,
	[DiagnosedTBI] [bit] NULL,
	[VAMC] [int] NULL,
	[Score] [decimal](5, 2) NULL,
 CONSTRAINT [PK_ReachID] PRIMARY KEY CLUSTERED 
(
	[ReachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
