<div class="bar-chart">
    <div style="text-align: left;">\n" +
        <input date-range-picker class="date-picker" type="text" size="30" ng-model="date" />
        <button type="button" class="btn btn-sm btn-danger" ng-click="refresh()">Refresh</button>
    </div>
    <nvd3-line-chart
            data="data"
            height="300"
            xAxisTickFormat="xAxisTickFormatFunction()"
            yAxisTickFormat="yAxisTickFormatFunction()"
            x="xFunction()"
            y="yFunction()"
            showXAxis="true"
            showYAxis="true"
            reduceXTicks="true"
            forcey="[0,100]"
            transitionduration="0"
            showLegend="{{showLegend}}"
            interactive="true"
            tooltips="true"
            tooltipcontent="toolTipContentFunction()">
    </nvd3-line-chart>
</div>