<div class="modal-header">
    <button name="btnClose" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
  <h3>Widget Options<small>{{widget.title}}</small></h3>
</div>

<div class="modal-body">
    <form name="form" novalidate class="form-horizontal">
        <div class="form-group">
            <label id="lblTitle" alt="Title" for="widgetTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input alt="Result Title" type="text" class="form-control" name="widgetTitle" ng-model="result.title">
            </div>
            <label id="lblVAMC" alt="VAMC" for="widgetVAMC" class="col-sm-2 control-label">VAMC</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="result.dataModel.vamc">
                    <option ng-repeat="vamc in listOfVAMC" value="{{vamc.STA3N}}">{{vamc.VAMC_Name}}</option>
                </select>
                <!--<input type="text" class="form-control" name="widgetVAMC" ng-model="result.dataModel.vamc">-->
            </div>
        </div>
        <div ng-if="widget.settingsModalOptions.partialTemplateUrl"
             ng-include="widget.settingsModalOptions.partialTemplateUrl"></div>
    </form>
</div>

<div class="modal-footer">
    <button name="btnCancel" type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button name="btnOK" type="button" class="btn btn-primary" ng-click="ok()">OK</button>
</div>