<div>
	<!--<div id="spinner" style="height: 100px;"> </div>-->
    <table id="tblPatient" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover" width="100%">
    	<thead>
        <tr>
        	<th ng-repeat="column in columns">{{column.Name}}</th>
        </tr> 
        </thead>
        <tbody>
        <tr ng-repeat="patient in patientList">
            <td>{{ patient.Name }}</td>
            <td>{{ patient.SSN }}</td>
            <td>{{ patient.HomePhone }}</td>
            <td>{{ patient.DateIdentifiedAsAtRisk}}</td>
            <td>{{ patient.RiskLevel }}</td>
            <td>
			<label alt="Patient ID Status" for="vetPatientIDStatus">Status</label>
             <select ng-model="patient.OutreachStatus" id="vet_{{patient.ReachID}}" style='width: 180px;' name="vetPatientIDStatus"
                ng-options="opt.OutReachStatusID as opt.StatusDesc for opt in outreachStatusList">
             </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>