<div>
    <div class="alert alert-warning unsavedDataAlert">
          <p>You have Unsaved changes in EnterData widget, Please Save or Undo changes and retry.</p>
          <button name="btnSaveAlertOk" alt="Unsaved Changes" class="btn btn-primary" ng-click="CloseSaveAlert()">OK</button>
    </div>
    <div offset="105" style="z-index:5;background-color:white;" sticky tabindex="-1">
        <div class="alert alert-success snoAlertBox" data-alert="alert">This widget has already been added to your dashboard. Please select a different widget to add.</div>
        <div class="btn-toolbar" ng-if="!options.hideToolbar" style="padding-bottom:5px;padding-top:5px;border-bottom: 2px solid gray;">
		<!--ul class="inline"><li-->
            <div class="btn-group" ng-if="!options.widgetButtons" data-ng-class="{open: open}" tabindex="-1">
			<span title="Add a Widget">
                  <button name="btnAddWidget" data-toggle="dropdown" alt="Add Widget" class="btn btn-primary dropdown-toggle">
                    Add a Widget<span class="caret"/>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="widget in widgetDefs">
                      <a name="liWidgetDropdown"  alt="Add Widget {{widget.name}}" title="Add Widget {{widget.name}}" data-toggle="tooltip" href="#" ng-click="addWidgetInternal($event, widget);" class="dropdown-toggle nav"><span class="label label-primary">{{widget.name}}</span></a>
                    </li>
                  </ul>
				 </span> 
			</div>
		<!--/li></ul-->
            <div class="btn-group" ng-if="options.widgetButtons" tabindex="-1">
                <button name="btnWidgetName"  alt="Widget Name {{widget.name}}" title="Widget Name {{widget.name}}" ng-repeat="widget in widgetDefs" ng-click="addWidgetInternal($event, widget);" type="button" class="btn btn-primary">
                    {{widget.name}}
                </button>
            </div>

            <button name="btnDefaultWarning"  alt="Default Widgets" title="Default Widgets"  class="btn btn-warning" ng-click="resetWidgetsToDefault()">Default Widgets</button>

            <button name="btnSave" title="Save" alt="Save"  ng-if="options.storage && options.explicitSave" ng-click="options.saveDashboard()" class="btn btn-success" ng-disabled="!options.unsavedChangeCount">{{ !options.unsavedChangeCount ? "all saved" : "save changes (" + options.unsavedChangeCount + ")" }}</button>

            <div style="height:100%;float:right;margin:10px 10px 0 5px;vertical-align:middle;" ng-show=" dashboardTitle == 'Individual View'" title="Individual View Layout">
                <label alt="{{ PatientName }}" style="font-weight:normal">
                    <span> {{ PatientName }}</span>
                </label>
            </div>
            <div style="height:100%;float:right;margin:10px 10px 0 5px;vertical-align:middle;" ng-show=" dashboardTitle == 'Facility View'" title="Facility View Layout" >
                <label alt="{{ FacilityName }}" style="font-weight:normal">
                    <span> {{ FacilityName }}</span>
                </label>
            </div>
            <div style="height:100%;float:right;margin:10px 10px 0 5px;vertical-align:middle;" ng-show=" dashboardTitle == 'Surveillance View'"  title="Surveillance View Layout" >
                <label alt="{{VISN_FacilityName" style="font-weight:normal">
                    <span> {{ VISN_FacilityName }}</span>
                </label>
            </div>
        </div>
    </div>

    <div gridster="gridsterOpts" style="margin-top:35px;" class="dashboard-widget-area" tabindex="-1">
    <ul ng-model="widgets">
        <li gridster-item="widget" ng-repeat="widget in widgets" class="gridsterContainer" widget tabindex="-1">
              <div class="widget panel panel-default" style="height:98%">
                <div class="widget-header panel-heading" tabindex="-1" style="height:45px;">
                    <div class="panel-title">
                        <span style="background-color: transparent;margin-right:3px;" class="label-primary widget-title nav pull-left">{{widget.title}}</span>
                        <div id="widgetSettings" style="display:inline-block; float:right; position:relative;">
                            <!--button ng-click="widget.contentStyle.display = widget.contentStyle.display === 'none' ? 'block' : 'none'" style="background-color: transparent; float:left;" class="glyphicon" ng-class="{'glyphicon-plus': widget.contentStyle.display === 'none','glyphicon-minus': widget.contentStyle.display !== 'none'}"></button-->
                            <!--button ng-click="openWidgetSettings(widget);" style="background-color: transparent; float:left;" class="glyphicon glyphicon-cog" ng-if="!options.hideWidgetSeyttings"></button-->
                            <button ng-click="removeWidget(widget);" ng-keydown="keyDown($event)" ng-keyup="keyUp($event)"  ng-attr-title="{{widget.canClose == false? 'Resize/Move Widget':'Remove/Resize/Move Widget'}}" alt="Remove Widget" style="background-color: transparent; float:right;" ng-class="(widget.canClose == false) ? 'glyphicon glyphicon-move' : 'glyphicon glyphicon-remove'" ng-if="!options.hideWidgetClose"></button>
                        </div>
                    </div>
                </div>
                <div class="widget-content" style="height:85%;"></div>
                <div class="widget-ew-resizer" ng-mousedown="grabResizer($event)"></div>
                <div ng-if="widget.enableVerticalResize" class="widget-s-resizer" ng-mousedown="grabSouthResizer($event)"></div>
            </div>
        </li>
    </ul>
</div>


</div>