<div class="modal-header">
  <h2>VA Medical Center: {{VAMC}}</h2><button type="button" class="close" data-dismiss="modal" data-ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
    <div>
        <aside style="min-height: 363px; background: #f4f4f4; width: 170px; position: absolute;">
            <section class="content-header" id="header">
                <p> <b>Current High Risk Veterans</b></p>
            </section>
            <section class="sidebar">
                <ul class="list-group">
                    <li class="list-group-item"><button class="btn btn-primary" type="button">Extreme(95-100) <span class="badge">{{risks.ExtremeRisk}}</span></button></li>
                    <li class="list-group-item"><button class="btn btn-primary" type="button">High(80-94) <span class="badge">{{risks.HighRisk}}</span></button></li>
                    <li class="list-group-item"><button class="btn btn-primary" type="button">Medium(50-79) <span class="badge">{{risks.MediumRisk}}</span></button></li>
                    <li class="list-group-item"><button class="btn btn-primary" type="button">Low(0-49) <span class="badge">{{risks.LowRisk}}</span></button></li>
                    <!--<li class="list-group-item"><button class="btn btn-primary" type="button">Facility View</button></li>-->
                </ul>    
            </section>
        </aside>
        <aside style="min-height: 363px; background: #f4f4f4; margin-left: 170px">
            <section class="content-header" id="header">
                <div id="veteranTable">
                    <table cellpadding="0" cellspacing="0" border="0" class="" id="example" width="100%" data-data-tables></table>
                </div>
            </section>
        </aside> 
        <aside style="min-height: 200px; background: #f4f4f4;">
            <section class="content-header">
                <div id="facilityInfo">
                    <div class="widget">
                      <div class="widget-header">
                        <i class="fa fa-cog fa-spin"></i> Number of Risks by Type
                      </div>
                      <div class="widget-body">
                        <!-- Check out the Angular Directive inside bootstrap.js! -->
                        <!--<rd-loading></rd-loading> -->
                        <!-- div ng-controller="FacilityIndividualModalCtrl" -->
                          <nvd3-discrete-bar-chart
                              data="totalRisksbyVAMC"
                              id="toolTipExample"
                              showXAxis="true"
                              showYAxis="true"
                              width="700"
                              height="350"
                              xAxisTickFormat="xAxisTickFormatFunction()"
                              showValues="true"
                              tooltips="true"
                              tooltipcontent="toolTipContentFunction()">
                                <svg></svg>
                          </nvd3-discrete-bar-chart>
                        <!--/div -->
                      </div>
                    </div>
                </div>
                <div id="veteranView" style="display:none">
                    <aside style="min-height: 263px; background: #f4f4f4; width : 33%; float: left;">
                        <section class="content-header" >
                            <p> 
                                <b>Risk Factors (True/False): </b>
                                <br><br><b>Criminal Record:</b><span style="margin-left:1em">{{veteran.CriminalRecord}}</span>
                                <br><b>History of Substance Abuse:</b><span style="margin-left:1em"> {{veteran.HistSubstanceAbuse}}</span>
                                <br><b>Previous Psychiatric Hospitalization:</b><span style="margin-left:1em"> {{veteran.PreviousPsychiatricHospitalization}}</span>
                                <br><b>Previous Attempts:</b><span style="margin-left:1em"> {{veteran.PreviousSuicideAttempts}}</span>
                                <br><b>Diagnosed TBI:</b><span style="margin-left:1em"> {{veteran.DiagnosedTBI}}</span>
                            </p>   
                        </section>
                    </aside>
                    <aside style="min-height: 263px; background: #f4f4f4; width : 33%; display:inline-block;">
                        <section class="content-header" >
                            <p>
                                <b>Contact Information: </b>
                                <br><br><b>Name:</b><span style="margin-left:1em"> {{veteran.FirstName}} {{veteran.MiddleName}} {{veteran.LastName}} </span>
                                <br><b>Last 4 of SSN:</b><span style="margin-left:1em"> {{veteran.SSN}} </span>
                                <br><b>Phone:</b><span style="margin-left:1em"> {{veteran.Phone}} </span>
                                <br><b>Alternative Phone:</b><span style="margin-left:1em"> {{veteran.AltPhone}} </span>
                                <br><b>Address:</b><span style="margin-left:1em"> {{veteran.Address}} </span>
                                <br><b>City:</b><span style="margin-left:1em"> {{veteran.City}} </span>
                                <br><b>State:</b><span style="margin-left:1em"> {{veteran.State}} </span>
                                <br><b>Zip:</b><span style="margin-left:1em"> {{veteran.Zip}} </span>
                                <br><br><br><b>Date First Identified At-Risk:</b><span style="margin-left:1em"> {{veteran.DateIdentifiedRisk}} </span>
                            </p>
                        </section>
                    </aside> 
                    <aside style="min-height: 263px; background: #f4f4f4; float:right; width: 33%;">
                        <section class="content-header" >
                            <p>
                                <b>Emergency Contact Information: </b>
                                <br><br><b>Emergency Contact Name:</b><span style="margin-left:1em"> {{veteran.EmergencyContact}} </span>
                                <br><b>Relationship to Veteran:</b><span style="margin-left:1em"> {{veteran.Relationship}}  </span>                               
                                <br><b>Address:</b><span style="margin-left:1em"> {{veteran.EC_Address}} </span>
                                <br><b>City:</b> <span style="margin-left:1em">{{veteran.EC_City}} </span>
                                <br><b>State:</b><span style="margin-left:1em"> {{veteran.EC_State}}</span> 
                                <br><b>Zip:</b><span style="margin-left:1em"> {{veteran.EC_Zip}} </span>
                                <br><b>Phone:</b><span style="margin-left:1em"> {{veteran.EC_Phone}} </span>
                                <br><b>Alternative Phone:</b><span style="margin-left:1em"> {{veteran.EC_AltPhone}} </span>
                            </p>
                        </section>
                    </aside>
                    <aside style="min-height: 263px; background: #f4f4f4;">
                        <section class="content-header" >
                            <p>
                                <b>Veteran Details: </b>
                                <br><br><b>Urban Location?:</b><span style="margin-left:1em"> {{veteran.UrbanArea}}</span> 
                                <br><b>Local Medical Center:</b><span style="margin-left:1em"> {{veteran.vamc}}</span>     
                                <br><b>VISN:</b><span style="margin-left:1em"> {{veteran.VISN}} </span>
                                <br><b>Age:</b><span style="margin-left:1em"> {{veteran.Age}}</span> 
                                <br><b>Gender:</b><span style="margin-left:1em"> {{veteran.Gender}} </span>
                                <br><b>Ethnicity:</b><span style="margin-left:1em"> {{veteran.Race}} </span>
                            </p>
                        </section>
                    </aside>
                </div>
            </section>
        </aside>
    </div>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
<style>
    .app-modal-window .modal-dialog{
    width: 720px;
}
</style>