<div class="event-timeline-chart">
    <div id="pickerandbutton" style="text-align: left;">
        <input date-range-picker class="date-picker" type="text" size="23" ng-model="date" />
        <a id="duration_1y" href="" name="limit1y" ng-click="limit1y()">1y</a>
        <a id="duration_2y" href="" name="limit2y" ng-click="limit2y()">2y</a>
        <a id="duration_3y" href="" name="limit3y" ng-click="limit3y()">3y</a>
        <button type="button" class="btn btn-sm btn-danger" style="float: right;" ng-click="refresh()">Refresh</button>
    </div>
    <div id="realthing" class="row">
    	<div id="graph" class="col-sm-9">
	    	<nvd3-line-plus-bar-chart
            	data="chart"
            	height="300"
            	xAxisTickFormat="xAxisTickFormatFunction()"
            	y1AxisTickFormat="yAxisTickFormatFunction()"
            	y2AxisTickFormat="yAxisTickFormatFunction()"
            	x="xFunction()"
            	y="yFunction()"
            	showXAxis="true"
            	showYAxis="false"
            	reduceXTicks="true"
            	forcey="{{forcey}}"
            	transitionduration="0"
            	showLegend="{{showLegend}}"
            	interactive="true"
            	tooltips="true"
            	tooltipcontent="toolTipContentFunction()">
    		</nvd3-line-plus-bar-chart>
    	</div>
    	<div id="display" class="col-sm-3">
    		<div id="serieskey"><strong>{{selectedSeries.key}}</strong></div>
    		<div id="boxofps" style="height: 275px; overflow: scroll; outline: 1px solid black;">
				<div ng-repeat="value in selectedValues">
					<div id="p{{$index}}">
						<span style="padding-left: 5px;">Date: {{value.date | date:'yyyy-MM-dd'}} </span>
						<span style="padding-left: 15px;">Value: {{value.value}}</span>
					</div>
					<div ng-repeat="tooltipLine in value.tooltipLines" class="text-muted" style="padding-left: 20px;">{{tooltipLine}}</div>
					<br/>
				</div>
			</div>
		</div>
	</div>
</div>