<div ng-controller='StateFacilityViewCtrl'>
  <h1>{{headerText}}</h1>
  <aside style="min-height: 100px; background: #f4f4f4; ">
      <section class="content-header" id="header">
          <div id="facilityTable">
              <table cellpadding="0" cellspacing="0" border="0" class="" id="sampleFacility" width="100%" data-data-tables-facility-view></table>
          </div>
      </section>
  </aside> 
  <!--<aside style="min-height: 50px; background: #f4f4f4;">
      <section class="content-header">
          
      </section>
  </aside> -->
   <div class="modal-footer" style="float:left;">
    <button type="button" class="btn" data-ng-click="back()" >Back</button>
    <button type="button" class="btn btn-primary" data-ng-click="next()" ng-hide="hideStateNextBtn">Next</button>
  </div> 
</div>

<style>
    .app-modal-window .modal-dialog{
    width: 660px;
}
</style>