<div class="nationalVAMC">
	<table id="tblVAMC" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
		<thead>	
			<th scope="col"><a alt="VAMC Name" title="Sort by VAMC Name" href="" ng-click="predicate = 'VAMC Name'; reverse=false">VAMC Name</a></th>
			<th scope="col"><a alt="State" title="Sort by State" href="" ng-click="predicate = 'State'; reverse=false">State</a></th>
			<th scope="col"><a alt="VISN" title="Sort by VISN" href="" ng-click="predicate = 'VISN'; reverse=false">VISN</a></th>
			<th scope="col"><a alt="Total Number of Patients" title="Sort by Total Number of Patients" href="" ng-click="predicate = 'Total Number of Patients'; reverse=false">Total Number of Patients</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="ind in data track by $index | orderBy:predicate:reverse">
				<td>{{ind.VAMCName}}</td>
				<td>{{ind.StateID}}</td>
				<td>{{ind.VISN}}</td>
				<td>{{ind.Total}}</td>
			</tr>
		</tbody>
	</table>
</div>