<div id="appointmentDiv" class="appointment" title="Appointment Widget">
	<table id="tblAppointment" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
        <thead> 
        <tr>
            <th scope="col" tabindex="-1"><a alt="Date" title="Sort by Date" href="" ng-click="predicate = 'Date'; reverse=false">Date</a></th>
            <th scope="col" tabindex="-1"><a alt="Cancellation Status" title="Sort by Cancellation Status" href="" ng-click="predicate = 'Cancelled'; reverse=!reverse">Cancelled</a></th>
        </tr>
        </thead> 
        <tbody>
        <tr ng-repeat="appt in data track by $index | orderBy:predicate:reverse">
            <td>{{ appt.ApptDate }}</td>
            <td>{{ appt.CancelNoShowCodeDesc }}</td>
        </tr>
        </tbody>
    </table>
</div>