<div class="appointment">
	<table id="tblAppointment" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
        <thead>
        <tr>
            <th><a href="" ng-click="predicate = 'Date'; reverse=false">Date</a></th>
            <th><a href="" ng-click="predicate = 'Type'; reverse=!reverse">Type</a></th>
            <th><a href="" ng-click="predicate = 'Cancelled'; reverse=!reverse">Cancelled</a></th>
            
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="appt in data track by $index | orderBy:predicate:reverse">
            <td>{{ appt.ApptDate }}</td>
             <td>{{ appt.PrimarySecondaryStopCodeName }}</td>
            <td>{{ appt.CancelNoShowCodeDesc }}</td>

        </tr>
        </tbody>
    </table>
</div>