<div class="facilityRoster">
	<table id="tblFacilityRoster" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
		<thead>	
			<th><a href="" ng-click="predicate = 'VAMC Name'; reverse=false">VAMC Name</a></th>
			<th><a href="" ng-click="predicate = 'State'; reverse=false">State</a></th>
			<th><a href="" ng-click="predicate = 'VISN'; reverse=false">VISN</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="ind in data | orderBy:predicate:reverse">
				<td>{{ind.VAMC_Name}}</td>
				<td>{{ind.StateAbbr}}</td>
				<td>{{ind.VISN}}</td>
			</tr>
		</tbody>
	</table>
</div>